*{
  font-family: Helvetica Neue, Arial, sans-serif;
}
.Logo {
  position: relative;
  top: 50px;
  width: 50px;
}

.ToDo {
  background: #fdfdfd;
  border: 1px solid white;
  height: auto;
  padding-bottom: 60px;
  text-align: center;
}

.ToDo-Header {
  color: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 70px auto 30px;
  text-transform: uppercase;
}

.ToDo-Subheader {
  color: black;
  font-size: 1em;
  font-weight: 400;
  margin: 4px auto 20px;
}

.ToDo-Add {
  align-items: center;
  background: blue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 2em;
  height: 2em;
  justify-content: center;
  margin: 0.5em auto 0;
  padding: 0px;
  width: 2em;
}

.ToDo-Add:hover {
  box-shadow: none;
  margin-left: calc(auto + 1px);
}

.ToDo-Container {
  margin: 0 auto;
  width: 95%;
}

.ToDoItem {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ToDoItem-Text {
  background-color: white;
  border: 1px dotted lightgrey;
  margin-right: 2em;
  padding: 1em;
  width: 95%;
}

.ToDoItem-Delete {
  /*padding: 5px;*/
  background: red;
  border-radius: 0.3em;
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 3em;
  margin-right: 5px;
  width: 3em;
}

.ToDoItem-Delete:hover {
  box-shadow: none;
  margin-left: 1px;
  margin-top: 1px;
}

.ToDoInput input{
  font-family: Arial;
  padding: 10px;
}
